@model ErrorViewModel
@{
    ViewData["Title"] = "Fejl";
}

<h1 class="text-danger">Fejl.</h1>
<h2 class="text-danger">Der skete en fejl. Prøv igen senere.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Fejlkode:</strong> <code>@Model.RequestId</code>
    </p>
}